.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.venv
venv/
ENV/
.vscode/
.idea/
*.swp
*.swo
*~
login and pass.txt
*.db
*.log
README.md